@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Message"]</h1>
    <br />
    <p></p>
</div>
<div class="text-center">

    <h4 >@ViewData["Body"]</h4>


</div>
